@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans";
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, var(--soft-violet),var(--soft-blue));
}

.main-container{
    background-color: var(--light-grayish-blue);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: 70%;
    height: auto;
    padding: 4rem 0px;
    display: flex;
    align-items: center;
    column-gap: 4rem;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
}

.illustration-images{
    width: 40%;
}

.image-container{
    width: 100%;
    height: 400px;
    position: relative;
    background: url(images/illustration-woman-online-desktop.svg);
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
}


.illustration-box{
    width: 13rem;
    height: 6rem;
    position: relative;
    transform: translate(0,-50%);
    left: -20%;
    top: 50%;
}

.illustration-box img{
    width: 100%;
    position: absolute;
}

.FAQ-container{
    width: 50%;
    padding-right: 40px;
}

.header h1{
    margin-bottom: 40px;
    color: var(--very-dark-desaturated-blue);
}

.questions-answers-container{
    margin-bottom: 40px;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--very-dark-grayish-blue);
}

.arrow-down{
    transition: transform 0.5s;
}

.arrow-up{
    transform: rotate(180deg);
    transition: 0.5s;
}

.question:hover{
    color: var(--soft-red);
}

.question-active p{
    color: var(--very-dark-desaturated-blue);
    font-weight: 600;
}

.answer{
    padding-top: 15px;
    color: var(--dark-grayish-blue);
    width: 95%;
    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: relative;
    top: 30%; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ================ Media Queries ========================= */
/* ================ Mobile Device ========================= */

@media (max-width : 480px){
    .main-container{
        margin: 150px 0px;
        width: 90%;
        height: auto;
        padding: 0px 20px;
        display: block;
        padding-bottom: 30px;
    }
    
    .illustration-images{
        position: relative;
        width: 100%;
        height: 200px;

    }

    .image-container{
        width: 100%;
        height: 200px;
        position: absolute;
        top: -60%;
        left: 0%;
        background: url(images/illustration-woman-online-mobile.svg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    
    .illustration-box{
        display: none;
    }
    
    .FAQ-container{
        width: 100%;
        padding-right: 0px;
    }
    
    .header h1{
        text-align: center;
    }
    
    .question p{
        width: 95%;
        font-size: 0.95rem;
    }
    
    .answer{
        padding-top: 15px;
        font-size: 0.9rem;
        width: 90%;
    }

}


/* ================ Tablet Device ========================= */

@media (min-width : 481px) and (max-width : 767px){
    .main-container{
        margin: 150px 0px;
        width: 90%;
        height: auto;
        padding: 0px 20px;
        display: block;
        padding-bottom: 30px;
    }
    
    .illustration-images{
        position: relative;
        width: 100%;
        height: 200px;

    }

    .image-container{
        width: 100%;
        height: 200px;
        position: absolute;
        top: -60%;
        left: 0%;
        background: url(images/illustration-woman-online-mobile.svg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    
    .illustration-box{
        display: none;
    }
    
    .FAQ-container{
        width: 100%;
        padding-right: 0px;
    }
    
    .header h1{
        text-align: center;
    }
    
    .question p{
        width: 95%;
        font-size: 1rem;
    }
    
    .answer{
        padding-top: 15px;
        font-size: 0.95rem;
        width: 90%;
    }

}

/* ================ Laptop Device ========================= */

@media (min-width : 768px) and (max-width : 1199px){
    .main-container{
        margin: 150px 0px;
        width: 60%;
        height: auto;
        padding: 0px 20px;
        display: block;
        padding-bottom: 30px;
    }
    
    .illustration-images{
        position: relative;
        width: 100%;
        height: 200px;

    }

    .image-container{
        width: 100%;
        height: 200px;
        position: absolute;
        top: -60%;
        left: 0%;
        background: url(images/illustration-woman-online-mobile.svg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    
    .illustration-box{
        display: none;
    }
    
    .FAQ-container{
        width: 100%;
        padding-right: 0px;
    }
    
    .header h1{
        text-align: center;
    }
    
    .question p{
        width: 95%;
        font-size: 1rem;
    }
    
    .answer{
        padding-top: 15px;
        font-size: 0.95rem;
        width: 90%;
    }

}